@page "/"
@using NLDK
@using NBitcoin
@using NBXplorer
@using NBXplorer.Models
@using nldksample.LDK
@inject WalletService WalletService
@inject ExplorerClient ExplorerClient
@inject NavigationManager NavigationManager
@inject LDKNodeManager NodeManager;
<PageTitle>Home</PageTitle>


<button  class="btn btn-primary" @onclick="Create">Create new wallet </button>

@code{

    private async Task Create()
    {
        var genWallet = await ExplorerClient.GenerateWalletAsync();
        var hash = await ExplorerClient.RPCClient.GetBestBlockHashAsync();
        var ts = new DerivationSchemeTrackedSource(genWallet.DerivationScheme);
        var idx = genWallet.GetMnemonic().DeriveExtKey().GetPublicKey().GetHDFingerPrint().ToString();
        var wts = new WalletTrackedSource(idx);
        await ExplorerClient.TrackAsync(wts);
        await ExplorerClient.AddParentWallet(ts, wts);
        var id = await WalletService.Create(genWallet.GetMnemonic(), null, genWallet.AccountKeyPath.KeyPath + "/*", hash.ToString(), new[] {ts.ToString(), wts.ToString()});
      
        NavigationManager.NavigateTo($"/wallets/{id}");
        
    }

}